<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-keyboard-o wow bounceIn text-primary"></i>
                    <h3>Use it in any app</h3>
                    <p class="text-muted">Easily switch to and from the OuOmoji keyboard.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-check-square wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Customize your keyboard</h3>
                    <p class="text-muted">Choose a color theme that matches your personality and look.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Find the right thing to say</h3>
                    <p class="text-muted">Kaomojis are conveniently organized into categories.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-secret wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Preserve your privacy</h3>
                    <p class="text-muted">OuOmoji does not transmit anything you type to our servers.</p>
                </div>
            </div>
        </div>
    </div>
</section>
