<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 text-center">
                <h3>Choose where to go for lunch</h3>
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait black">
                        <div class="device">
                            <div class="screen">
                                <img src="/img/mixingbag/2.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <h3>Get your students in order</h3>
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait black">
                        <div class="device">
                            <div class="screen">
                                <img src="/img/mixingbag/3.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center">
                <h3>Order your team with ghost leg</h3>
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait black">
                        <div class="device">
                            <div class="screen">
                                <img src="/img/mixingbag/4.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
