<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>The fair decider for all your selecting and shuffling needs</h1>
                        <div class="badges">
                            <a class="badge-link" href="https://itunes.apple.com/us/app/mixing-bag/id1376418527?mt=8"><img src="/img/app-store-badge.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait black">
                        <div class="device">
                            <div class="screen">
                                <img src="/img/mixingbag/1.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
