<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                    <h1>TBDo</h1>
                        <h2 class="text-muted">Track your recurring chores.</h2>
                        <div class="badges">
                            <a class="badge-link" href="https://itunes.apple.com/us/app/tbdo/id1469074794?mt=8"><img src="/img/app-store-badge.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="header-content">
                    <img src="/img/tbdo/1.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</header>
