<div class="apps-outer-container">
    <div class="container apps-inner-container">
        <div class="row">
            <div class="col-sm-12 apps-title">
                <h1><b>Our Apps</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 app-container">
                <a href="/mixingbag">
                    <img src="img/index/mixing-bag.png" class="img-responsive app-icon" alt=""/>
                </a>
                <h2 class="app-title">Mixing Bag</h2>
                <p>
                    Got an important, but arbitrary, decision to make? Mixing Bag is ready to help! Just list your options and let Mixing Bag randomly choose an item for you. Can't agree on a restaurant, movie, or color of paint? Just mix it up!<br>
                    <a class="btn btn-secondary" href="/mixingbag">Learn More</a>
                </p>
            </div>
            <div class="col-sm-6 app-container">
                <a href="/ouomoji">
                    <img src="img/index/ouomoji.png" class="img-responsive app-icon" alt=""/>
                </a>
                <h2 class="app-title">OuOmoji</h2>
                <p>
                    Emoji and Memoji are amusing, but why limit yourself? Level-up your vocabulary and add flair to your messages with this Japanese style emoticon keyboard.<br>
                    <a class="btn btn-secondary" href="/ouomoji">Learn More</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 app-container">
                <a href="https://apps.apple.com/us/app/aware-wolf/id1441502781">
                    <img src="img/index/aware-wolf.png" class="img-responsive app-icon" alt=""/>
                </a>
                <h2 class="app-title">Aware Wolf</h2>
                <p>
                    Build habits of awareness with ease! Not everything you want to accomplish belongs on your calendar or to-do list. Some goals are best reached by keeping important ideas actively on your mind.<br>
                    <a class="btn btn-secondary" href="https://apps.apple.com/us/app/aware-wolf/id1441502781">Learn More</a>
                </p>
            </div>
            <div class="col-sm-6 app-container">
                <a href="/tbdo">
                    <img src="img/index/tbdo.png" class="img-responsive app-icon" alt=""/>
                </a>
                <h2 class="app-title">TBDo</h2>
                <p>
                    Track your recurring chores with TBDo.<br>
                    <a class="btn btn-secondary" href="/tbdo">Learn More</a>
                </p>
            </div>
        </div>
    </div>
</div>
