<div class="intro-outer-container">
    <div class="container intro-inner-container">
        <div class="row vertical-align">
            <div class="col-sm-3 col-sm-offset-1">
                <div class="logo-container">
                    <img src="img/logo.svg" class="img-responsive logo" alt=""/>
                </div>
            </div>
            <div class="col-sm-7">
                <p>Hey! We're <b>Technically Bits</b>, a team of two developers making iOS apps.</p>
            </div>
        </div>
    </div>
</div>

